<footer class="max-w-screen-2xl mx-auto">
    <div class="pt-15p sm:pt-5p sm:px-5p">


        <!-- Centered Text for Copyright and Links -->
        <div class="mt-4 text-center text-gray-300 pt-5p pb-5p">
            <p>&copy; All rights reserved.</p>
            <a href="https://refinedislandcreations.com/" class="pt-5p" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">Designed and built by <span class="underline">Refined Island Creations</span>.</a>
        </div>
    </div>
</footer>

